body{
    margin:0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

a {
    color:black;
  }

h2,
h3,
h4,
p {
    margin: 0;
    padding: 10px;
}

nav{
    display: block;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    height: 4em;
    box-shadow: 0 6px 22px -9px rgb(0 0 0 / 75%);
    margin: 0;
}

nav img{
    display: inline-block;
}

.navlogo{
    margin-left: 1em;
    margin-top: 0.365em;
    width: 2.26em;
    height: 3.27;
}

.sociallink{
    width: 2em;
    height: 2em;
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

.main {
    padding-top: 35px;
    opacity: 0.9;
  }
  
  .mission {
    display: flex;
    height: 300px;
    background-image: url("https://codecademy-content.s3.amazonaws.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
    padding-top: 35px;
    background-size: cover;
  }
  
  .mission .content {
    margin: auto;
    background-color: white;
    width: 100%;
  }
  
  #portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
  }
  
  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .company {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .company img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
  }
  
  .company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
  }
  
  .team {
    background-image: url("https://codecademy-content.s3.amazonaws.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
    padding-top: 70px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .teammate {
    padding: 10px;
    color: white;
    flex-basis: 280px;
  }
  
  .teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
  }
  
  .contact,
  .copyright {
    padding-top: 20px;
  }
  
  h2 #team{
    margin-top: 20px;
  }